## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

c:\users\bigdata\documents\python scripts\udemy-python-4-finance\pyfin\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [8]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [9]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  37.289700
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  36.030037
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  36.409924
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  35.190277
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  35.650139

In [10]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-15,190.820007,184.009995,184.580002,188.940002,32770200.0,188.940002
2020-06-16,195.580002,191.460007,192.889999,193.570007,42556700.0,193.570007
2020-06-17,196.320007,193.690002,195.029999,194.240005,25655900.0,194.240005
2020-06-18,196.490005,194.000000,194.000000,196.320007,23061600.0,196.320007
2020-06-19,199.289993,194.369995,198.589996,195.149994,44423500.0,195.149994

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [12]:
MSFT['simple_return'] = MSFT['Adj Close'].pct_change()
print(MSFT.simple_return)

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
                ...
2020-06-15    0.006392
2020-06-16    0.024505
2020-06-17    0.003461
2020-06-18    0.010708
2020-06-19   -0.005960
Name: simple_return, Length: 5149, dtype: float64

## Log Return

$$
\ln \Big(\displaystyle\frac{P_{t}}{P_{t-1}}\Big)
$$

In [15]:
MSFT['log_return'] = MSFT['Adj Close'].transform(np.log).diff()
print(MSFT.log_return)

Date
2000-01-03         NaN
2000-01-04   -0.034364
2000-01-05    0.010488
2000-01-06   -0.034072
2000-01-07    0.012983
                ...
2020-06-15    0.006371
2020-06-16    0.024210
2020-06-17    0.003455
2020-06-18    0.010651
2020-06-19   -0.005978
Name: log_return, Length: 5149, dtype: float64