## Diversifiable and Non-Diversifiable Risk of a Portfolio

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

C:\Users\BigData\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                  MSFT        AAPL
Date
2007-01-03   22.123693   10.363638
2007-01-04   22.086641   10.593664
2007-01-05   21.960684   10.518225
2007-01-08   22.175547   10.570165
2007-01-09   22.197784   11.448232
...                ...         ...
2020-06-17  194.240005  351.589996
2020-06-18  196.320007  351.730011
2020-06-19  195.149994  349.720001
2020-06-22  200.570007  358.869995
2020-06-23  203.600204  371.625000

[3392 rows x 2 columns]

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [5]:
sec_returns = sec_data.transform(np.log).diff()
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2020-06-17  0.003455 -0.001393
2020-06-18  0.010651  0.000398
2020-06-19 -0.005978 -0.005731
2020-06-22  0.027395  0.025827
2020-06-23  0.014995  0.034925

[3392 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [6]:
weights = np.ones_like(tickers, dtype='float')/len(tickers)

Portfolio Variance:

In [16]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07040717823092393

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [20]:
divers_risk = pfolio_var - np.dot(weights**2, sec_returns.var()*250)
divers_risk

0.02450864693359242

Calculating Non-Diversifiable Risk:

In [22]:
non_divers_risk = pfolio_var - divers_risk
non_divers_risk

0.04589853129733151

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [24]:
weights2 = np.array([0.2, 0.8])

Portfolio Variance:

In [26]:
pfolio_var2 = np.dot(weights2.T, np.dot(sec_returns.cov() * 250, weights2))
pfolio_var2

0.08528081787007111

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [27]:
divers_risk2 = pfolio_var2 - np.dot(weights2**2, sec_returns.var()*250)
divers_risk2

0.015685534037499158

Calculating Non-Diversifiable Risk:

In [28]:
non_divers_risk2 = pfolio_var2 - divers_risk2
non_divers_risk2

0.06959528383257195